* {
    border: 1px solid red;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

/* start of header ---------------------------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    background-color: #0e1238e7;
    color: white;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 10vh;
}   

.firstHeaderText {
    margin-left: 20px;
}

.header .containerOne {
    display: flex;
    justify-content: space-between;
}

.header .container {
    display: flex;
    align-self: center;
}

.container {
    display: flex;
    flex-grow: 1;
    flex: auto;
    justify-content: space-between;
}

.sideContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vh;
    gap: 50px;
}

.textHeaderOne {
    display: flex;
    flex-direction: column;
    width: 25vh;
    align-items: center;
}

.sideContent button {
    background-color: rgb(8, 133, 243);
    border: 1px solid rgb(8, 133, 243);
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    color: white;
}

.textOne {
    font-size: 30px;
}
.textTwo {
    font-size: 12px;
}

.cardContainer {
    display: flex;
    width: 400px;
    height: 200px;
}

.card {
    border: 1px solid rgb(8, 157, 238);
    box-shadow: 5px -5px 10px rgb(83, 80, 80);
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 35vh;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 9px;
}
/* end of header ---------------------------------------------------*/

/* start of second part of page ---------------------------------------------------*/
.secondContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    padding-top: 20px;
    gap: 25px;
}

.secondHeader {
    font-size: 30px;
    font-weight: 700;
}

.boxes {
    display: flex;
    gap: 15px;
    align-self: stretch;
    justify-content: space-evenly;
}

.boxText {
    width: 150px;
}

.imageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.box {
    display: flex;
    border: 2px solid blue;
    width: 150px;
    height: 150px;
    border-radius: 15px;
}
/* end of second part of page ----------------------------------------------*/

.thirdContent {
    display: flex;
    background: rgb(214, 214, 214);
    padding: 90px;
    justify-content: center;
}

.thirdContainer {
    display: flex;
    flex-direction: column;
    width: 400px;    
}

.thirdText {
    font-style: italic;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.thirdTextName {
    align-self: flex-end;
    font-weight: 700;
    font-style: italic;
    font-size: 15px;
}

/* end of third content */

.footer {
    padding: 30px;
}

.footerContainer {
    background: rgb(12, 89, 255);
    display: flex;
    color: white;
    padding: 25px;
    justify-content: space-between;
    border-radius: 5px;
}

.footerSubcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
}

.lastButton {
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(12, 89, 255);
    border: 1px solid white;
    color: white;
    align-self: center;
    height: 35px;
    margin-right: 25px;
}

.footerHeaderText {
    font-size: 19px;
    font-weight: 700;
}

.footerSubtext {
    font-size: 13px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: grey;
}

